#pp_list_builder {
	width:440px;
	float:left;
}
.ui-state-default {
	padding: 5px;
	width: 250px;
	font-size: 12pt;
	font-weight: bold;
	cursor: move; 
}
.pp_form td {
	vertical-align:top;
}
#wx_slide, #hx_slide, #mrmt_slide {
	margin-top:10px;
	margin-bottom:20px;
	height:10px;
	position:relative;
}
#wx_slide span, #hx_slide span, #mrmt_slide span  {
	position:absolute;
	width:2px;
	height:15px;
	margin-top:-10px;
}

#pp_sampler {
	width:650px;
	float:right;
}
.pps_listing {
	float:left;
	width:300px;
	background:#FFF;
}
.pps_info {
	padding:10px;
}
.pps_listing img {
	width:100%;
	height:auto;
	-moz-box-shadow: -2px -2px #666; -webkit-box-shadow: -2px -2px #666; box-shadow: -2px -2px #666;
	border:solid 1px #ccc;
}
.pps_quote {
	font-style:italic;
	padding:10px;
	line-height:1.2;
}
.pps_summary {
	padding:10px;
}
.pps_title {
	font-weight:bold;
}